@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Parisine";
  src: url("../public/fonts/parisineTTRegular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Parisinebold";
  src: url("../public/fonts/parisineTTBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Parisineitalic";
  src: url("../public/fonts/parisineTTItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Montserratbold";
  src: url("../public/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Montserratitalic";
  src: url("../public/fonts/Montserrat-Italic.ttf");
  font-style: italic;
}

@layer base {
  :root {
    --background: 0 35% 99%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 176 47% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 23 90% 56%;
    --secondary-foreground: 23 90% 56%;
    --corporateblue: 245 100% 25%;
    --grey-background: 0 0% 88%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 245 100% 25%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 21 79% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 176 47% 20%;
    --primary-foreground: 240 5.9% 10%;
    --corporateblue: 0 0% 99%;
    --secondary: 23 90% 56%;
    --secondary-foreground: 23 90% 56%;
    --grey-background: 240 10% 3.9%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 21 79% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "Parisine";
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: "Montserratbold";
    line-height: 2rem;
  }

  h1{ font-size: 2rem;}
  h2{ font-size: 1.5em;padding-left: 20px;}
  h3 {font-size: 1.2rem;padding-left: 40px;}
  h4 {font-size: 1rem;font-style: italic;padding-left: 60px;}
}
